<% @pages.each do |page| %>
    <section class="cd-section <%= 'visible' if page.number == 1 %>" data-page="<%= page.number %>">
      <div>
        <span class="content">
          <%= render :partial => 'pages/page', :object => page %>
        </span>
      </div>
    </section>
<% end %>
