#encoding: utf-8
<div class="container">
    <div class="row footer">
      <div class="row-height">
        <div class="col-xs-12 col-sm-4 col-sm-height col-sm-middle">
          <div class="inside inside-full-height">
            <div class="content">
              <div class="footer-title">Kontakt</div>
              <ul class="list-inline">
                <li><a href="#" class="fa fa-facebook fa-3x"></a></li>
                <li><a href="#" class="fa fa-twitter fa-3x"></a></li>
                <li><a href="#" class="fa fa-instagram fa-3x"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-height col-sm-middle">
          <div class="inside inside-full-height">
            <div class="content">
              <div class="footer-title">Navigation</div>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li><a href="#">Start</a></li>
                    <li><a href="#">Kleidung</a></li>
                    <li><a href="#">Figuren</a></li>
                    <li><a href="#">Bücher</a></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li><a href="#">Filme</a></li>
                    <li><a href="#">Gadgets</a></li>
                    <li><a href="#">LOL</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-height col-sm-middle">
          <div class="inside inside-full-height">
            <div class="content logo">
              WTF
            </div>
          </div>
        </div>
      </div>
    </div>
</div>